<h1>{{post.title}}</h1>
<p>by {{post.user.username}} on {{post.createdAt}}</p>
<p>{{post.content}}</p>

<h2>Comments</h2>
{{#each post.comments}}
  <div class="comment">
    <p>{{this.user.username}} on {{this.createdAt}}</p>
    <p>{{this.comment_text}}</p>
  </div>
{{/each}}

{{#if loggedIn}}
  <form id="comment-form">
    <textarea name="comment_text" placeholder="Add a comment" required></textarea>
    <button type="submit">Submit</button>
  </form>
{{else}}
  <p>You must be logged in to comment.</p>
{{/if}}